[Unit]
Description=Firefox service

[Service]
User=kiosk
Group=kiosk
ExecStart=/usr/bin/firefox --kiosk https://localhost:8088

[Install]
WantedBy=multi-user.target